body {
	padding:0px;
	margin:0px;
	mobile:true;
}

li,p, ul {
	list-style:none;
	margin:0px;
	padding:0px;
	color:#fff;
	height:110px;
	float:left;
	width:50%;	
	font-size:32px;
	google-font:Source+Sans+Pro/300;
	text-align:center;
}
#demo {
	circle:true;
	height:200px;
	float:left;
	width:200px;
	gradient:#000, #0099cc;
	display:none;
}
#result_acd {
	width:100px;
	height:50px;
	background:#0099cc;
}

#result_acdc {
	width:100px;
	height:50px;
	background:red;
}